.navbar {
  background: linear-gradient(to right, #669cff, #7108b8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: white;
}

.navbar-brand {
  font-size: 1.5rem;
}

.navbar-nav {
  list-style-type: none;
  display: flex;
}

.nav-item {
  margin-right: 20px;
  cursor: pointer;
}

.container {
  margin-top: 20px;
  display: block;
  border: 2px;
  padding: 120px;
}
.test{
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 50%;
  padding-left: 50px;
}

.buttons {
  display: flex;
  justify-content: end;
  align-items: end;
  
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.buttons button {
  
  margin-left: 30px;
}






