.navbar {
    background: linear-gradient(to right, #4093ef, #721883);
    padding: 10px;
  }
  
  /* .navbar-brand {
    font-size: 24px;
    font-weight: bold;
  } */
  
  .navbar-nav {
    list-style: none;
    display: flex;
    gap: 15px;
  }
  
  .nav-item {
    cursor: pointer;
  }
  